/* Importar fuentes custom */
@font-face {
  font-family: "yanone";
  src: url("../../../assets/css/fonts/yanone.ttf");
}

@font-face {
  font-family: "finger";
  src: url("../../../assets/css/fonts/finger.ttf");
}

@font-face {
  font-family: "titilium";
  src: url("../../../assets/css/fonts/titilium.ttf");
}

.container-2 {
  overflow: hidden;
  height: 650px;
  width: 95%;
  margin-bottom: 20px;
  border: 5px solid black;
  float: left;
  padding: 10px;
}

.box {
  display: block;
}

#title-2 {
  color: lightskyblue;
  font-family: "finger";
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.76);
  width: 100%;
}

.box-2 {
  display: flex;
}

//BOTON
#createHouse {
  background: aquamarine;
  color: black;
  width: 70px;
  height: 30px;
  font-family: "Helvetica";
  font-size: 13px;
}

#update {
  background: khaki;
  display: block;
  font-size: 13px;
  padding: 3px;
  width: 70px;
  height: 30px;
  font-family: "Helvetica";
}

#list {
  background: plum;
  color: black;
  width: 70px;
  height: 30px;
  font-family: "Helvetica";
  font-size: 13px;
}

#found {
  background: lightskyblue;

  font-family: "Helvetica";
  font-size: 13px;
  height: 30px;
  width: 80px;
}

.botones {
  width: 100%;
  margin-top: 10px;
}

.botones {
  margin-top: 10px;
}

form {
  font-family: "Helvetica";
  color: rgb(240, 169, 240);
  width: auto;
  margin-right: 20px;
}

.dashed-2 {
  border: 4px dashed palevioletred;
  padding: 10px;
  float: left;
  margin-left: 20px;
  width: auto;
}

h3 {
  color: mediumpurple;
  font-family: "finger";
  font-size: 20px;
}

#t2 {
  border: 7px solid rgb(173, 221, 77);
  text-align: center;
}
tr,
th,
td {
  border: 2px solid rgb(114, 114, 114);
  font-family: "titilium";
}

.row {
  width: 100%;
  margin-top: 10px;
}
.row .find {
  margin-top: 10px;
}
