<div class="container-2" *ngIf="House">
  <h1 id="title-2">Formulario</h1>
  <div class="box-2">
    <div class="box">
      <form #houseForm="ngForm" (ngSubmit)="create(houseForm)">
        <label for="house">Casa</label> <br />
        <input
          type="text"
          name="house"
          #house="ngModel"
          [(ngModel)]="House.house"
          required
        />
        <br />
        <span class="form_error" *ngIf="house.touched && !house.valid">
          El campo es obligatorio
        </span>

        <br />

        <label for="rooms">Recamaras</label> <br />
        <input
          type="number"
          name="rooms"
          id="rooms"
          #rooms="ngModel"
          [(ngModel)]="House.rooms"
          required
        />
        <br />
        <span class="form_error" *ngIf="rooms.touched && !rooms.valid">
          El campo es obligatorio
        </span>

        <br />

        <label for="wc">Baños</label> <br />
        <input
          type="number"
          name="wc"
          id="wc"
          #wc="ngModel"
          [(ngModel)]="House.wc"
          required
        />
        <br />
        <span class="form_error" *ngIf="wc.touched && !wc.valid">
          El campo es obligatorio
        </span>

        <br />

        <label for="cellphone">Telefono</label> <br />
        <input
          type="number"
          name="cellphone"
          id="cellphone"
          #cellphone="ngModel"
          [(ngModel)]="House.cellphone"
          required
        />
        <br />
        <span class="form_error" *ngIf="cellphone.touched && !cellphone.valid">
          El telefono es obligatorio
        </span>

        <br />
        <button id="createHouse">Enviar</button>
      </form>
      <div class="row">
        <button id="update" (click)="update()">Actualizar</button>
        <div class="find">
          <form #findForm="ngForm" (ngSubmit)="findById(findForm)">
            <input
              type="number"
              name="byId"
              #byId="ngModel"
              [(ngModel)]="stringById"
              placeholder="0"
            />

            <input id="found" type="submit" value="Encontrar" />
          </form>
        </div>
        <button id="list" (click)="findAll()">Listar</button>
      </div>
    </div>

    <div class="dashed-2">
      <h3>Informacion de Casas</h3>
      <hr />
      <table id="t2">
        <tr>
          <th width="250px" height="30px">Id</th>
          <th width="90px">HouseId</th>
          <th width="120px">Casa</th>
          <th width="110">Recamaras</th>
          <th width="110px">Baños</th>
          <th width="150px">Telefono</th>
          <th width="220px">Acciones</th>
        </tr>
        <tbody id="tabla registros">
          <tr *ngFor="let home of Houses">
            <td>{{ home._id }}</td>
            <td>{{ home.houseId }}</td>
            <td>{{ home.house }}</td>
            <td>{{ home.rooms }}</td>
            <td>{{ home.wc }}</td>
            <td>{{ home.cellphone }}</td>
            <td>
              <button (click)="get(home)">Editar</button>
              <button (click)="delete(home._id)">Eliminar</button>
              <button (click)="transfer(home)">Transferir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
